name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'
      - run: dotnet build src/NServiceBus.RateLimiter.sln -c Release

      - run: dotnet pack src/NServiceBus.RateLimiter/NServiceBus.RateLimiter.csproj -c Release -o artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
      - uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        with:
          name: nuget
          if-no-files-found: error
          path: artifacts/*

  publish:
    needs: build
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: nuget
          path: artifacts
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'
      - run: dotnet nuget push 'artifacts/*.nupkg' -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
